:root {

  --primary: #4f46e5;
  --secondary: #7c3aed;
  --accent: #06b6d4;

  --dark: #0f172a;
  --light: #f8fafc;

  --white: #ffffff;

  --gradient:
    linear-gradient(
      135deg,
      #4f46e5,
      #7c3aed
    );
}