.stats-card {
  background: linear-gradient(
    135deg,
    #ffffff,
    #f8fafc
  );

  padding: 30px;
  border-radius: 20px;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.08);

  transition: all 0.3s ease;

  text-align: center;
}

.stats-card:hover {
  transform: translateY(-5px);
}

.stats-card h6 {
  color: #64748b;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.stats-card h2 {
  margin-top: 10px;

  font-size: 3rem;
  font-weight: 700;

  color: #2563eb;
}